.carousel-banner {
  background-color: var(--light-blue);
  height: calc(40vh - 4rem);
}

.carousel-banner-image,
.carousel-banner-desc {
  height: inherit;
}

.carousel-banner-image img {
  object-position: right;
}

.carousel-banner-desc-title {
  font-size: calc(30vw * 0.16);
}

@media only screen and (min-width: 768px) {
  .carousel-banner {
    height: calc(70vh - 4rem);
  }
}
